
ul{
    list-style: none;
}
.content{
    background-color: #FAFFC1;
    width: 15%;
    height: 100%;
    margin-top: -10vh;
}
.icone{
    width: 15vh;
}
.iconne{
    width: 2,5vh;
}
.my-container{
    margin-left: 34vh;
    margin-top:3vh ;
}
.search{
    margin-left: -6vh;
}
.b{
    margin-left: -6vh;
}
li:hover{
    border: none 2px;
    border-radius: 5px;
    background-color:#00C1FE;
    width: 18vh;
    height: 5vh;
}
.elements{
    margin-top:-85vh;
    margin-left: 30vh;
    /* float: left; */
    height: 27vh;
    width: 150vh;
}
.students{
    border:none 2px;
    background-color: #F0F9FF;

}
.Course{
    border: none 2px;
    background-color: #FEF6FB;
}
.Payments{
    border: none 2px;
    background-color: #FEFBEC;
}
.Users{ 
    border: none 2px;
    background: linear-gradient(90deg,rgba(0,193,254,1)0%,rgba(250,255,193,1)100%);
}
