@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;1,700&display=swap');
*{
font-family: 'Montserrat';
}
ul{
    list-style: none;
}
a.link{
    text-decoration: none;
    color:inherit;
}
.bg-mycolor{
    background-color: #FAFFC1;
}
.card{
    min-width: 200px !important;
}
.card1{
    background: #F0F9FF;
}
.card2{
    background: #FEF6FB;
}
.card3{
    background: #FEFBEC;
}
.card4{
    background: linear-gradient(110.42deg, #00C1FE 18.27%, #FAFFC1 91.84%);
}
.just{
    margin-top: 30px;
    justify-content: space-evenly;
}
.fend{
    align-self: flex-end;
}

#indexBody {
    background: linear-gradient(90deg,rgba(0,193,254,1)0%,rgba(250,255,193,1)100%);
    font-family: Montserrat;
}
.login{ 
    border-radius: 20px;
 } 
 .logo h1{
     font-size: 32px;
 }
 #content{
     height: 100vh;
 }

@media screen and (max-width:984px) {
    .navbar{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
    }
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.uls{
    display: flex;
}
.mytable{
    overflow: scroll;
    border-bottom: none;
}
table{
    border-collapse:separate;
    border-spacing:0 15px;
    border-bottom: none;
    white-space: nowrap;
}
